# Module 1 - Manipulating data with Pandas

### Introduction
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

- Apply and use info, describe, mean, min, max, apply, and applymap from the Pandas library
- Explain what a groupby object is and split a DataFrame using a groupby
- Explain lambda functions and use them to use an apply on a DataFrame
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

#### Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

### 1. Applying and using info, describe, mean, min, max, apply, and applymap from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [1]:
import pandas as pd

uci = pd.read_csv('heart.csv')

In [2]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci.

Notice the name of the last column!

#### The .columns and .shape Attributes

In [3]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [4]:
uci.shape

(303, 14)

#### The .info() and .describe() Methods

Pandas DataFrames have many useful methods! Let's look at ```.info()``` and ```.describe()```.

In [5]:
# Call the .info() method on our dataset. What do you observe?

uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [7]:
# Call the .describe() method on our dataset. What do you observe?

uci.describe().T

          count        mean        std    min    25%    50%    75%    max
age       303.0   54.366337   9.082101   29.0   47.5   55.0   61.0   77.0
sex       303.0    0.683168   0.466011    0.0    0.0    1.0    1.0    1.0
cp        303.0    0.966997   1.032052    0.0    0.0    1.0    2.0    3.0
trestbps  303.0  131.623762  17.538143   94.0  120.0  130.0  140.0  200.0
chol      303.0  246.264026  51.830751  126.0  211.0  240.0  274.5  564.0
fbs       303.0    0.148515   0.356198    0.0    0.0    0.0    0.0    1.0
restecg   303.0    0.528053   0.525860    0.0    0.0    1.0    1.0    2.0
thalach   303.0  149.646865  22.905161   71.0  133.5  153.0  166.0  202.0
exang     303.0    0.326733   0.469794    0.0    0.0    0.0    1.0    1.0
oldpeak   303.0    1.039604   1.161075    0.0    0.0    0.8    1.6    6.2
slope     303.0    1.399340   0.616226    0.0    1.0    1.0    2.0    2.0
ca        303.0    0.729373   1.022606    0.0    0.0    0.0    1.0    4.0
thal      303.0    2.313531   0.612277    0.0    2.0    2.0    3.0    3.0
target    303.0    0.544554   0.498835    0.0    0.0    1.0    1.0    1.0

#### .mean(), .min(), .max(), .sum()

The methods .mean(), .min(), and .max() will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [8]:
uci.mean()

age          54.366337
sex           0.683168
cp            0.966997
trestbps    131.623762
chol        246.264026
fbs           0.148515
restecg       0.528053
thalach     149.646865
exang         0.326733
oldpeak       1.039604
slope         1.399340
ca            0.729373
thal          2.313531
target        0.544554
dtype: float64

#### The Axis Variable

In [169]:
uci.sum() # Try [shift] + [tab] here!

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .value_counts()

For a DataFrame _Series_, the .value_counts() method will tell you how many of each value you've got.

In [32]:
uci['age'].value_counts()[:10]

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

$\bf{\rightarrow Exercise: What\ are\ the\ different\ values\ for\ restecg?}$

In [10]:
# Your code here!

uci['restecg'].value_counts()

1    152
0    147
2      4
Name: restecg, dtype: int64

### Filtering

In [11]:
uci[uci['age'] == 60]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
82,60,0,2,102,318,0,1,160,0,0.0,2,1,2,1
136,60,0,2,120,178,1,1,96,0,0.0,2,0,2,1
147,60,0,3,150,240,0,1,171,0,0.9,2,0,2,1
174,60,1,0,130,206,0,0,132,1,2.4,1,2,3,0
176,60,1,0,117,230,1,1,160,1,1.4,2,2,3,0
186,60,1,0,130,253,0,1,144,1,1.4,2,1,3,0
193,60,1,0,145,282,0,0,142,1,2.8,1,2,3,0
194,60,1,2,140,185,0,0,155,0,3.0,1,0,2,0
201,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
207,60,0,0,150,258,0,0,157,0,2.6,1,2,3,0
237,60,1,0,140,293,0,0,170,0,1.2,1,2,3,0

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [12]:
def increment(x):
    return x + 1

In [13]:
uci.applymap(increment).head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2

The .map() method takes a function as input that it will then apply to every entry in the Series.

In [16]:
uci['age'].map(increment).tail(10)

293    68
294    45
295    64
296    64
297    60
298    58
299    46
300    69
301    58
302    58
Name: age, dtype: int64

## 2. Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [18]:
uci['oldpeak'].map(lambda x: round(x))[:4]

0    2
1    4
2    1
3    1
Name: oldpeak, dtype: int64

$\bf{\rightarrow Exercise: Use\ an\ anonymous\ function\ to\ turn\ the\ entries\ in\ age\ to\ strings}$

In [20]:
# Your code here!

uci["age"].astype(str)

0      63
1      37
2      41
3      56
4      57
5      57
6      56
7      44
8      52
9      57
10     54
11     48
12     49
13     64
14     58
15     50
16     58
17     66
18     43
19     69
20     59
21     44
22     42
23     61
24     40
25     71
26     59
27     51
28     65
29     53
       ..
273    58
274    47
275    52
276    58
277    57
278    58
279    61
280    42
281    52
282    59
283    40
284    61
285    46
286    59
287    57
288    57
289    55
290    61
291    58
292    58
293    67
294    44
295    63
296    63
297    59
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: object

## 3. Methods for Re-Organizing DataFrames: .groupby()

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The .groupby() method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [21]:
uci.groupby('sex')

### .groups and .get_group()

In [22]:
uci.groupby('sex').groups

{0: Int64Index([  2,   4,   6,  11,  14,  15,  16,  17,  19,  25,  28,  30,  35,
              36,  38,  39,  40,  43,  48,  49,  50,  53,  54,  59,  60,  65,
              67,  69,  74,  75,  82,  84,  85,  88,  89,  93,  94,  96, 102,
             105, 107, 108, 109, 110, 112, 115, 118, 119, 120, 122, 123, 124,
             125, 127, 128, 129, 130, 131, 134, 135, 136, 140, 142, 143, 144,
             146, 147, 151, 153, 154, 155, 161, 167, 181, 182, 190, 204, 207,
             213, 215, 216, 220, 223, 241, 246, 252, 258, 260, 263, 266, 278,
             289, 292, 296, 298, 302],
            dtype='int64'),
 1: Int64Index([  0,   1,   3,   5,   7,   8,   9,  10,  12,  13,
             ...
             288, 290, 291, 293, 294, 295, 297, 299, 300, 301],
            dtype='int64', length=207)}

In [23]:
uci.groupby('sex').get_group(0) # .tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
28,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
30,41,0,1,105,198,0,1,168,0,0.0,2,1,2,1
35,46,0,2,142,177,0,0,160,1,1.4,0,0,2,1
36,54,0,2,135,304,1,1,170,0,0.0,2,0,2,1
38,65,0,2,155,269,0,1,148,0,0.8,2,0,2,1
39,65,0,2,160,360,0,0,151,0,0.8,2,0,2,1
40,51,0,2,140,308,0,0,142,0,1.5,2,1,2,1
43,53,0,0,130,264,0,0,143,0,0.4,1,0,2,1
48,53,0,2,128,216,0,0,115,0,0.0,2,0,0,1
49,53,0,0,138,234,0,0,160,0,0.0,2,0,2,1
50,51,0,2,130,256,0,0,149,0,0.5,2,0,2,1
53,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1
54,63,0,2,135,252,0,0,172,0,0.0,2,0,2,1
59,57,0,0,128,303,0,0,159,0,0.0,2,1,2,1
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2,1
65,35,0,0,138,183,0,1,182,0,1.4,2,0,2,1
67,45,0,1,130,234,0,0,175,0,0.6,1,0,2,1
69,62,0,0,124,209,0,1,163,0,0.0,2,0,2,1
74,43,0,2,122,213,0,1,165,0,0.2,1,0,2,1
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,60,0,3,150,240,0,1,171,0,0.9,2,0,2,1
151,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
153,66,0,2,146,278,0,0,152,0,0.0,1,1,2,1
154,39,0,2,138,220,0,1,152,0,0.0,1,0,2,1
155,58,0,0,130,197,0,1,131,0,0.6,1,0,2,1
161,55,0,1,132,342,0,1,166,0,1.2,2,0,2,1
167,62,0,0,140,268,0,0,160,0,3.6,0,2,2,0
181,65,0,0,150,225,0,0,114,0,1.0,1,3,3,0
182,61,0,0,130,330,0,0,169,0,0.0,2,0,2,0
190,51,0,0,130,305,0,1,142,1,1.2,1,0,3,0
204,62,0,0,160,164,0,0,145,0,6.2,0,3,3,0
207,60,0,0,150,258,0,0,157,0,2.6,1,2,3,0
213,61,0,0,145,307,0,0,146,1,1.0,1,0,3,0
215,43,0,0,132,341,1,0,136,1,3.0,1,0,3,0
216,62,0,2,130,263,0,1,97,0,1.2,1,1,3,0
220,63,0,0,150,407,0,0,154,0,4.0,1,3,3,0
223,56,0,0,200,288,1,0,133,1,4.0,0,2,3,0
241,59,0,0,174,249,0,1,143,1,0.0,1,0,2,0
246,56,0,0,134,409,0,0,150,1,1.9,1,2,3,0
252,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
258,62,0,0,150,244,0,1,154,1,1.4,1,0,2,0
260,66,0,0,178,228,1,1,165,1,1.0,1,2,3,0
263,63,0,0,108,269,0,1,169,1,1.8,1,2,2,0
266,55,0,0,180,327,0,2,117,1,3.4,1,0,2,0
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2,0
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### Aggregating

In [24]:
uci.groupby('sex').std()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
sex,,,,,,,,,,,,,
0,9.409396,0.972427,19.311119,65.088946,0.332455,0.557150,20.047969,0.422503,1.119844,0.593736,0.881026,0.441290,0.435286
1,8.883803,1.059064,16.658246,42.782392,0.366955,0.510754,24.130882,0.484505,1.174632,0.627378,1.074082,0.659949,0.498626

$\bf{\rightarrow Exercise: Tell\ me\ the\ average\ cholesterol\ level\ for\ those\ with\ heart\ disease.}$

In [55]:
# Your code here!
uci.groupby('target').mean()
uci.groupby('target')['chol'].mean()

target
0    251.086957
1    242.230303
Name: chol, dtype: float64

### 4. Reshaping a DataFrame

#### .pivot()

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [58]:
uci.pivot(values = 'sex', columns = 'target').tail(10)

target    0   1
293     1.0 NaN
294     1.0 NaN
295     1.0 NaN
296     0.0 NaN
297     1.0 NaN
298     0.0 NaN
299     1.0 NaN
300     1.0 NaN
301     1.0 NaN
302     0.0 NaN

## Methods for Combining DataFrames: .join(), .merge(), .concat(), .melt()

### .join()

In [59]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [60]:
toy1.join(toy2.set_index('age'), on = 'age',
          lsuffix = '_A', rsuffix = '_B').head()

   age  HP_A  HP_B
0   63   142   100
1   33    47   200

### .merge()

In [61]:
ds_chars = pd.read_csv('ds_chars.csv', index_col = 0)

FileNotFoundError: [Errno 2] File b'ds_chars.csv' does not exist: b'ds_chars.csv'

In [62]:
states = pd.read_csv('states.csv', index_col = 0)

FileNotFoundError: [Errno 2] File b'states.csv' does not exist: b'states.csv'

In [63]:
ds_chars.merge(states, left_on='home_state', right_on = 'state',
               how = 'inner')

NameError: name 'ds_chars' is not defined

### pd.concat()

$\bf{\rightarrow Exercise: Look\ up\ the documentation\ on\ pd.concat}$ (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) $\bf{and\ use\ it\ to\ concatenate\ ds\_chars\ and\ states.}$
<br/>
$\bf{Your\ result\ should\ still\ have\ only\ five\ rows!}$

In [238]:
pd.concat([ds_chars, states])

### pd.melt()

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [242]:
pd.melt(ds_full, id_vars=)

## Revisiting our animal shelter plans

Let's load in our animal shelter data using this url: https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD

Using .info() and .describe() what observations can we make about the data?

In [187]:
asp = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')
asp

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A796934,Lucky,07/01/2019 07:20:00 PM,07/01/2019 07:20:00 PM,04/07/2019,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Brown Tabby/White
1,A798542,NaN,07/01/2019 07:05:00 PM,07/01/2019 07:05:00 PM,04/20/2019,Adoption,NaN,Dog,Neutered Male,2 months,American Pit Bull Terrier,Tan/White
2,A798590,Midnight,07/01/2019 07:00:00 PM,07/01/2019 07:00:00 PM,06/27/2015,Adoption,NaN,Dog,Neutered Male,4 years,Chihuahua Shorthair,Black/White
3,A798441,NaN,07/01/2019 06:48:00 PM,07/01/2019 06:48:00 PM,04/19/2019,Adoption,NaN,Cat,Intact Female,2 months,Domestic Shorthair,Brown Tabby/White
4,A798799,Gabbana,07/01/2019 06:47:00 PM,07/01/2019 06:47:00 PM,01/01/2016,Return to Owner,NaN,Dog,Intact Female,3 years,Chihuahua Longhair Mix,Black/White
5,A798580,NaN,07/01/2019 06:41:00 PM,07/01/2019 06:41:00 PM,06/27/2018,Adoption,NaN,Dog,Spayed Female,1 year,Papillon Mix,White/Tan
6,A798221,NaN,07/01/2019 06:40:00 PM,07/01/2019 06:40:00 PM,04/23/2019,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair,Blue Tabby
7,A798396,Zora,07/01/2019 06:37:00 PM,07/01/2019 06:37:00 PM,02/25/2019,Adoption,NaN,Cat,Spayed Female,4 months,American Shorthair,Cream Tabby
8,A798534,NaN,07/01/2019 06:32:00 PM,07/01/2019 06:32:00 PM,06/27/2016,Adoption,NaN,Dog,Neutered Male,3 years,Dachshund,Black/Tan
9,A794065,*Baloo,07/01/2019 06:25:00 PM,07/01/2019 06:25:00 PM,05/03/2017,Adoption,NaN,Dog,Neutered Male,2 years,Boxer Mix,Brown Brindle/White
10,A798596,NaN,07/01/2019 06:23:00 PM,07/01/2019 06:23:00 PM,01/28/2019,Adoption,NaN,Dog,Neutered Male,5 months,German Shepherd,Black/Brown
11,A798540,NaN,07/01/2019 06:22:00 PM,07/01/2019 06:22:00 PM,04/20/2019,Adoption,NaN,Dog,Neutered Male,2 months,American Pit Bull Terrier,Tan/White
12,A794645,NaN,07/01/2019 06:19:00 PM,07/01/2019 06:19:00 PM,03/27/2019,Adoption,NaN,Cat,Intact Male,3 months,Domestic Shorthair,Brown Tabby
13,A798583,NaN,07/01/2019 06:19:00 PM,07/01/2019 06:19:00 PM,04/23/2019,Adoption,NaN,Dog,Neutered Male,2 months,Papillon Mix,White/Tan
14,A796845,*Shuri,07/01/2019 06:16:00 PM,07/01/2019 06:16:00 PM,06/06/2013,Transfer,Partner,Cat,Intact Female,6 years,Domestic Shorthair,Black
15,A798477,NaN,07/01/2019 06:15:00 PM,07/01/2019 06:15:00 PM,04/26/2019,Adoption,NaN,Dog,Neutered Male,2 months,Australian Shepherd/Great Pyrenees,Black/White
16,A798449,NaN,07/01/2019 06:09:00 PM,07/01/2019 06:09:00 PM,02/26/2019,Adoption,NaN,Dog,Spayed Female,4 months,Plott Hound,Brown Brindle
17,A798589,NaN,07/01/2019 05:50:00 PM,07/01/2019 05:50:00 PM,11/27/2018,Adoption,NaN,Dog,Spayed Female,7 months,Australian Cattle Dog Mix,Blue Tick
18,A798844,Timmy,07/01/2019 05:38:00 PM,07/01/2019 05:38:00 PM,07/01/2018,Return to Owner,NaN,Dog,Intact Male,1 year,Norfolk Terrier Mix,Tan
19,A794642,NaN,07/01/2019 05:33:00 PM,07/01/2019 05:33:00 PM,03/27/2019,Adoption,NaN,Cat,Spayed Female,3 months,Domestic Shorthair,Brown Tabby
20,A794643,NaN,07/01/2019 05:33:00 PM,07/01/2019 05:33:00 PM,03/27/2019,Adoption,NaN,Cat,Spayed Female,3 months,Domestic Shorthair,Brown Tabby/White
21,A794581,*Aruba,07/01/2019 05:14:00 PM,07/01/2019 05:14:00 PM,04/09/2019,Adoption,NaN,Cat,Intact Female,2 months,Domestic Shorthair,Brown Tabby
22,A798644,NaN,07/01/2019 05:14:00 PM,07/01/2019 05:14:00 PM,06/28/2018,Transfer,Snr,Cat,Intact Female,1 year,Snowshoe Mix,Seal Point/White
23,A798231,NaN,07/01/2019 05:13:00 PM,07/01/2019 05:13:00 PM,05/01/2019,Adoption,NaN,Cat,Neutered Male,1 month,Domestic Medium Hair Mix,Black/White
24,A795575,*Parsley,07/01/2019 05:02:00 PM,07/01/2019 05:02:00 PM,04/22/2019,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair,Brown Tabby/White
25,A794572,*Lucia,07/01/2019 04:55:00 PM,07/01/2019 04:55:00 PM,04/09/2019,Adoption,NaN,Cat,Intact Female,2 months,Domestic Shorthair,Brown Tabby
26,A797915,Bebe,07/01/2019 04:54:00 PM,07/01/2019 04:54:00 PM,06/19/2017,Adoption,NaN,Dog,Spayed Female,2 years,Chihuahua Shorthair,Tan
27,A798558,NaN,07/01/2019 04:36:00 PM,07/01/2019 04:36:00 PM,03/12/2019,Adoption,NaN,Dog,Neutered Male,3 months,Chihuahua Shorthair,Brown/White
28,A798224,Oreo,07/01/2019 03:59:00 PM,07/01/2019 03:59:00 PM,05/01/2019,Adoption,NaN,Cat,Neutered Male,1 month,Domestic Shorthair Mix,Black/White
29,A798225,Leo,07/01/2019 03:59:00 PM,07/01/2019 03:59:00 PM,05/01/2019,Adoption,NaN,Cat,Neutered Male,1 month,Domestic Shorthair Mix,Brown Tabby/White
...,...,...,...,...,...,...,...,...,...,...,...,...
103104,A663887,Hooch,10/01/2013 03:07:00 PM,10/01/2013 03:07:00 PM,09/25/2010,Euthanasia,Medical,Dog,Neutered Male,3 years,Pit Bull Mix,Red/White
103105,A663935,NaN,10/01/2013 02:15:00 PM,10/01/2013 02:15:00 PM,09/26/1999,Transfer,Partner,Dog,Intact Male,14 years,Chihuahua Shorthair Mix,Brown
103106,A663201,Buck,10/01/2013 02:14:00 PM,10/01/2013 02:14:00 PM,09/14/2011,Transfer,Partner,Dog,Neutered Male,2 years,Pit Bull Mix,Brown/White
103107,A663955,NaN,10/01/2013 02:13:00 PM,10/01/2013 02:13:00 PM,09/27/1999,Transfer,Partner,Dog,Intact Female,14 years,Chihuahua Shorthair Mix,Black/Tan
103108,A664171,Knight,10/01/2013 01:59:00 PM,10/01/2013 01:59:00 PM,12/30/2012,Return to Owner,NaN,Dog,Neutered Male,9 months,Basset Hound Mix,Black
103109,A663938,NaN,10/01/2013 01:16:00 PM,10/01/2013 01:16:00 PM,09/27/2003,Euthanasia,Suffering,Dog,Neutered Male,10 years,Rottweiler/Labrador Retriever,Black/Tan
103110,A664261,NaN,10/01/2013 01:00:00 PM,10/01/2013 01:00:00 PM,09/10/2013,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Tortie
103111,A664260,NaN,10/01/2013 01:00:00 PM,10/01/2013 01:00:00 PM,09/10/2013,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Black/White
103112,A664262,NaN,10/01/2013 12:59:00 PM,10/01/2013 12:59:00 PM,09/22/2013,Transfer,Partner,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby
103113,A664263,NaN,10/01/2013 12:58:00 PM,10/01/2013 12:58:00 PM,09/22/2013,Transfer,Partner,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby
103114,A664271,NaN,10/01/2013 12:57:00 PM,10/01/2013 12:57:00 PM,09/24/2013,Transfer,Partner,Cat,Intact Female,1 week,Domestic Shorthair Mix,Orange Tabby
103115,A663495,Pikachu,10/01/2013 12:45:00 PM,10/01/2013 12:45:00 PM,05/19/2013,Return to Owner,NaN,Cat,Spayed Female,4 months,Domestic Shorthair Mix,Torbie
103116,A664219,NaN,10/01/2013 12:34:00 PM,10/01/2013 12:34:00 PM,08/08/2013,Died,In Kennel,Cat,Intact Male,1 month,Domestic Shorthair Mix,Blue/White
103117,A613553,Beast,10/01/2013 12:32:00 PM,10/01/2013 12:32:00 PM,05/06/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Pit Bull Mix,Black/White
103118,A648744,Claire,10/01/2013 12:27:00 PM,10/01/2013 12:27:00 PM,03/04/2012,Return to Owner,NaN,Dog,Spayed Female,1 year,Anatol Shepherd Mix,White/Tricolor
103119,A664258,Sylvio,10/01/2013 12:27:00 PM,10/01/2013 12:27:00 PM,10/01/2006,Return to Owner,NaN,Dog,Neutered Male,7 years,Weimaraner Mix,Silver
103120,A663546,*Gage,10/01/2013 12:24:00 PM,10/01/2013 12:24:00 PM,09/20/2011,Euthanasia,Aggressive,Dog,Neutered Male,2 years,American Bulldog Mix,White/Brown Brindle
103121,A664225,Lou,10/01/2013 12:13:00 PM,10/01/2013 12:13:00 PM,09/30/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Shih Tzu Mix,Gray/White
103122,A663342,Deco,10/01/2013 12:05:00 PM,10/01/2013 12:05:00 PM,09/17/2012,Euthanasia,Behavior,Dog,Neutered Male,1 year,Chesa Bay Retr Mix,Red/White
103123,A656894,Jake,10/01/2013 11:53:00 AM,10/01/2013 11:53:00 AM,04/22/2013,Adoption,NaN,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Black
103124,A661795,Blakie,10/01/2013 11:53:00 AM,10/01/2013 11:53:00 AM,03/25/2013,Adoption,NaN,Cat,Spayed Female,6 months,Domestic Shorthair Mix,Tortie
103125,A663833,Baby Girl,10/01/2013 11:50:00 AM,10/01/2013 11:50:00 AM,09/24/2004,Return to Owner,NaN,Dog,Spayed Female,9 years,Labrador Retriever Mix,Black
103126,A663572,*Starla,10/01/2013 11:42:00 AM,10/01/2013 11:42:00 AM,09/21/2010,Adoption,NaN,Dog,Spayed Female,3 years,Anatol Shepherd Mix,White/Brown
103127,A663888,NaN,10/01/2013 11:13:00 AM,10/01/2013 11:13:00 AM,09/25/2011,Transfer,Partner,Dog,Spayed Female,2 years,Boxer Mix,Red/White
103128,A663646,NaN,10/01/2013 11:12:00 AM,10/01/2013 11:12:00 AM,09/22/2010,Transfer,Partner,Dog,Neutered Male,3 years,Toy Poodle Mix,White
103129,A664223,Moby,10/01/2013 11:03:00 AM,10/01/2013 11:03:00 AM,09/30/2009,Return to Owner,NaN,Dog,Neutered Male,4 years,Bulldog Mix,White
103130,A664237,NaN,10/01/2013 10:44:00 AM,10/01/2013 10:44:00 AM,09/24/2013,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
103131,A664236,NaN,10/01/2013 10:44:00 AM,10/01/2013 10:44:00 AM,09/24/2013,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
103132,A664235,NaN,10/01/2013 10:39:00 AM,10/01/2013 10:39:00 AM,09/24/2013,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
103133,A659834,*Dudley,10/01/2013 09:31:00 AM,10/01/2013 09:31:00 AM,07/23/2013,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever Mix,Black

In [70]:
asp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103117 entries, 0 to 103116
Data columns (total 12 columns):
Animal ID           103117 non-null object
Name                70871 non-null object
DateTime            103117 non-null object
MonthYear           103117 non-null object
Date of Birth       103117 non-null object
Outcome Type        103109 non-null object
Outcome Subtype     46944 non-null object
Animal Type         103117 non-null object
Sex upon Outcome    103115 non-null object
Age upon Outcome    103108 non-null object
Breed               103117 non-null object
Color               103117 non-null object
dtypes: object(12)
memory usage: 9.4+ MB

In [159]:
asp.describe()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
count,103134,70877,103134,103134,103134,103126,46945,103134,103132,103125,103134,103134
unique,92489,17200,84957,84957,6520,9,21,5,5,49,2428,573
top,A721033,Max,04/18/2016 12:00:00 AM,04/18/2016 12:00:00 AM,09/01/2015,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,30,463,39,39,118,44717,25670,58843,36328,18927,29798,10779

Use an apply to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [160]:
from datetime import datetime
asp["DateTime"].apply(lambda x: datetime.strptime(x, "%m/%d/%Y %H:%M:%S %p"))

0        2019-07-01 07:20:00
1        2019-07-01 07:05:00
2        2019-07-01 07:00:00
3        2019-07-01 06:48:00
4        2019-07-01 06:47:00
5        2019-07-01 06:41:00
6        2019-07-01 06:40:00
7        2019-07-01 06:37:00
8        2019-07-01 06:32:00
9        2019-07-01 06:25:00
10       2019-07-01 06:23:00
11       2019-07-01 06:22:00
12       2019-07-01 06:19:00
13       2019-07-01 06:19:00
14       2019-07-01 06:16:00
15       2019-07-01 06:15:00
16       2019-07-01 06:09:00
17       2019-07-01 05:50:00
18       2019-07-01 05:38:00
19       2019-07-01 05:33:00
20       2019-07-01 05:33:00
21       2019-07-01 05:14:00
22       2019-07-01 05:14:00
23       2019-07-01 05:13:00
24       2019-07-01 05:02:00
25       2019-07-01 04:55:00
26       2019-07-01 04:54:00
27       2019-07-01 04:36:00
28       2019-07-01 03:59:00
29       2019-07-01 03:59:00
                 ...
103104   2013-10-01 03:07:00
103105   2013-10-01 02:15:00
103106   2013-10-01 02:14:00
103107   2013-10-01 02:13:00
103108   2013-10-01 01:59:00
103109   2013-10-01 01:16:00
103110   2013-10-01 01:00:00
103111   2013-10-01 01:00:00
103112   2013-10-01 12:59:00
103113   2013-10-01 12:58:00
103114   2013-10-01 12:57:00
103115   2013-10-01 12:45:00
103116   2013-10-01 12:34:00
103117   2013-10-01 12:32:00
103118   2013-10-01 12:27:00
103119   2013-10-01 12:27:00
103120   2013-10-01 12:24:00
103121   2013-10-01 12:13:00
103122   2013-10-01 12:05:00
103123   2013-10-01 11:53:00
103124   2013-10-01 11:53:00
103125   2013-10-01 11:50:00
103126   2013-10-01 11:42:00
103127   2013-10-01 11:13:00
103128   2013-10-01 11:12:00
103129   2013-10-01 11:03:00
103130   2013-10-01 10:44:00
103131   2013-10-01 10:44:00
103132   2013-10-01 10:39:00
103133   2013-10-01 09:31:00
Name: DateTime, Length: 103134, dtype: datetime64[ns]

In [83]:
asp["Age upon Outcome"].unique()

array(['7 months', '1 year', '3 months', '2 months', '1 month', '2 years',
       '5 years', '1 weeks', nan, '7 years', '11 months', '8 years',
       '4 weeks', '2 weeks', '6 years', '8 months', '3 years', '4 years',
       '4 months', '9 months', '5 months', '10 years', '6 months',
       '10 months', '11 years', '0 years', '12 years', '3 weeks',
       '9 years', '15 years', '1 day', '2 days', '16 years', '14 years',
       '1 week', '13 years', '3 days', '5 weeks', '18 years', '20 years',
       '4 days', '6 days', '17 years', '5 days', '19 years', '21 years',
       '24 years', '22 years', '25 years', '-1 years'], dtype=object)

In [188]:
asp["AgeSplit"] = asp["Age upon Outcome"].str.split(" ", n=1)
asp["AgeSplit"].head()

0    [2, months]
1    [2, months]
2     [4, years]
3    [2, months]
4     [3, years]
Name: AgeSplit, dtype: object

In [189]:
[second[0] for second in asp["AgeSplit"]]

TypeError: 'float' object is not subscriptable

In [190]:
[second[1] for second in asp["AgeSplit"]]

TypeError: 'float' object is not subscriptable

In [192]:
[second for second in asp["AgeSplit"]]

[['2', 'months'],
 ['2', 'months'],
 ['4', 'years'],
 ['2', 'months'],
 ['3', 'years'],
 ['1', 'year'],
 ['2', 'months'],
 ['4', 'months'],
 ['3', 'years'],
 ['2', 'years'],
 ['5', 'months'],
 ['2', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['6', 'years'],
 ['2', 'months'],
 ['4', 'months'],
 ['7', 'months'],
 ['1', 'year'],
 ['3', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['1', 'year'],
 ['1', 'month'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['3', 'months'],
 ['1', 'month'],
 ['1', 'month'],
 ['2', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'month'],
 ['5', 'years'],
 nan,
 ['1', 'weeks'],
 ['1', 'month'],
 ['1', 'year'],
 ['2', 'months'],
 ['7', 'years'],
 ['1', 'year'],
 ['3', 'months'],
 ['2', 'years'],
 ['11', 'months'],
 ['7', 'years'],
 ['8', 'years'],
 ['5', 'years'],
 ['8', 'years'],
 ['1', 'month'],
 ['7', 'months'],
 ['1', 'year'],
 ['4', 'weeks'],
 ['2', 'years'],
 ['2', 'months'],
 ['1', 'year'],
 ['3', 'months'],
 ['1', 'month'],
 ['2', 'years'],
 ['2', 'weeks'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'months'],
 ['3', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['6', 'years'],
 ['6', 'years'],
 ['2', 'months'],
 ['8', 'months'],
 ['2', 'months'],
 ['3', 'years'],
 ['4', 'years'],
 ['3', 'months'],
 ['2', 'months'],
 ['3', 'years'],
 ['4', 'months'],
 ['1', 'month'],
 ['1', 'month'],
 ['4', 'years'],
 ['9', 'months'],
 ['2', 'months'],
 ['9', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['9', 'months'],
 ['2', 'years'],
 ['8', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['1', 'year'],
 ['3', 'years'],
 ['1', 'year'],
 ['2', 'months'],
 ['5', 'years'],
 ['2', 'weeks'],
 ['2', 'weeks'],
 ['4', 'weeks'],
 ['1', 'year'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'years'],
 ['1', 'month'],
 ['1', 'month'],
 ['2', 'months'],
 ['2', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['4', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['5', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'years'],
 ['4', 'years'],
 ['1', 'year'],
 ['5', 'months'],
 ['1', 'year'],
 ['4', 'weeks'],
 ['4', 'weeks'],
 ['2', 'years'],
 ['1', 'month'],
 ['2', 'years'],
 ['7', 'years'],
 ['2', 'months'],
 ['2', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['5', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['3', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['3', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['1', 'year'],
 ['3', 'months'],
 ['1', 'year'],
 ['2', 'years'],
 ['1', 'year'],
 ['8', 'years'],
 ['10', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['2', 'months'],
 ['1', 'month'],
 ['2', 'years'],
 ['1', 'month'],
 ['1', 'year'],
 ['7', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['1', 'year'],
 ['1', 'month'],
 ['2', 'years'],
 ['5', 'years'],
 ['1', 'month'],
 ['2', 'years'],
 ['6', 'months'],
 ['2', 'months'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'months'],
 ['4', 'months'],
 ['1', 'year'],
 ['3', 'months'],
 ['3', 'months'],
 ['3', 'months'],
 ['1', 'year'],
 ['7', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['10', 'months'],
 ['2', 'years'],
 ['4', 'years'],
 ['3', 'years'],
 ['10', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'year'],
 ['3', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'years'],
 ['3', 'years'],
 ['5', 'years'],
 ['3', 'years'],
 ['1', 'year'],
 ['6', 'years'],
 ['3', 'years'],
 ['5', 'months'],
 ['6', 'months'],
 ['11', 'years'],
 ['0', 'years'],
 ['7', 'years'],
 ['7', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['8', 'months'],
 ['4', 'months'],
 ['4', 'months'],
 ['12', 'years'],
 ['1', 'year'],
 ['1', 'month'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['1', 'year'],
 ['3', 'months'],
 ['5', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['10', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['3', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['5', 'months'],
 ['6', 'months'],
 ['2', 'months'],
 ['1', 'year'],
 ['3', 'months'],
 ['2', 'years'],
 ['7', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['1', 'month'],
 ['1', 'month'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['6', 'years'],
 ['4', 'years'],
 ['10', 'years'],
 ['6', 'months'],
 ['10', 'months'],
 ['2', 'months'],
 ['6', 'years'],
 ['3', 'months'],
 ['2', 'years'],
 ['3', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'years'],
 ['4', 'weeks'],
 ['4', 'weeks'],
 ['2', 'years'],
 ['1', 'year'],
 ['4', 'weeks'],
 ['3', 'weeks'],
 ['3', 'weeks'],
 ['3', 'weeks'],
 ['4', 'weeks'],
 ['4', 'weeks'],
 ['1', 'year'],
 ['4', 'weeks'],
 ['2', 'years'],
 ['4', 'weeks'],
 ['10', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['0', 'years'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['2', 'years'],
 ['4', 'years'],
 nan,
 ['2', 'years'],
 nan,
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['9', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['2', 'years'],
 ['4', 'years'],
 ['4', 'years'],
 ['6', 'months'],
 ['1', 'year'],
 ['2', 'years'],
 ['1', 'year'],
 ['7', 'years'],
 ['8', 'years'],
 ['7', 'years'],
 ['9', 'years'],
 ['7', 'months'],
 ['2', 'years'],
 ['7', 'months'],
 ['1', 'year'],
 ['6', 'months'],
 ['2', 'years'],
 ['3', 'years'],
 ['3', 'years'],
 ['11', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'year'],
 ['8', 'months'],
 ['8', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'years'],
 ['7', 'months'],
 ['2', 'years'],
 ['5', 'years'],
 ['1', 'month'],
 ['12', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['5', 'months'],
 ['3', 'months'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'months'],
 ['1', 'year'],
 ['2', 'months'],
 ['4', 'months'],
 ['1', 'month'],
 ['8', 'months'],
 ['1', 'year'],
 ['2', 'years'],
 ['8', 'months'],
 ['1', 'year'],
 ['2', 'months'],
 ['4', 'months'],
 ['5', 'months'],
 ['2', 'years'],
 ['8', 'years'],
 ['1', 'year'],
 ['8', 'years'],
 ['1', 'year'],
 ['2', 'months'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['1', 'year'],
 ['2', 'years'],
 ['3', 'years'],
 ['1', 'month'],
 ['15', 'years'],
 ['1', 'month'],
 ['5', 'years'],
 ['2', 'years'],
 ['1', 'month'],
 ['3', 'months'],
 ['2', 'years'],
 ['1', 'month'],
 ['8', 'years'],
 ['4', 'weeks'],
 ['3', 'months'],
 ['3', 'months'],
 ['2', 'years'],
 ['6', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['7', 'months'],
 ['1', 'month'],
 ['1', 'year'],
 ['1', 'month'],
 ['3', 'years'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['7', 'years'],
 ['1', 'year'],
 ['4', 'months'],
 ['1', 'month'],
 ['2', 'months'],
 ['1', 'year'],
 ['4', 'years'],
 ['2', 'months'],
 ['1', 'year'],
 ['2', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'year'],
 nan,
 ['2', 'months'],
 ['7', 'months'],
 ['2', 'years'],
 ['3', 'months'],
 ['3', 'months'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'year'],
 ['1', 'year'],
 ['4', 'years'],
 ['10', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'years'],
 nan,
 ['2', 'years'],
 ['5', 'years'],
 ['2', 'years'],
 ['4', 'years'],
 ['5', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['4', 'months'],
 ['1', 'month'],
 ['2', 'years'],
 ['1', 'month'],
 ['1', 'month'],
 ['2', 'years'],
 ['3', 'years'],
 ['10', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['1', 'day'],
 ['1', 'day'],
 ['1', 'day'],
 ['1', 'day'],
 ['2', 'days'],
 ['2', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'year'],
 ['8', 'years'],
 ['2', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['2', 'months'],
 ['1', 'month'],
 ['1', 'year'],
 ['6', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['2', 'months'],
 ['5', 'years'],
 ['1', 'month'],
 ['2', 'months'],
 ['2', 'months'],
 ['3', 'months'],
 ['4', 'months'],
 ['6', 'months'],
 ['6', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'year'],
 nan,
 ['2', 'months'],
 ['2', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['4', 'months'],
 ['2', 'months'],
 ['3', 'years'],
 ['6', 'years'],
 ['1', 'year'],
 ['4', 'years'],
 ['1', 'month'],
 ['1', 'month'],
 ['8', 'years'],
 ['2', 'years'],
 ['4', 'months'],
 ['2', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'month'],
 ['1', 'month'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['8', 'years'],
 nan,
 ['10', 'months'],
 ['1', 'year'],
 ['2', 'years'],
 ['7', 'years'],
 ['12', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['6', 'years'],
 ['4', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['1', 'year'],
 ['2', 'years'],
 ['8', 'years'],
 ['3', 'months'],
 ['4', 'months'],
 ['6', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['4', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['16', 'years'],
 ['2', 'weeks'],
 ['1', 'month'],
 ['4', 'weeks'],
 ['3', 'years'],
 ['2', 'months'],
 ['2', 'years'],
 ['4', 'weeks'],
 ['2', 'months'],
 ['2', 'months'],
 ['3', 'weeks'],
 ['3', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'weeks'],
 ['3', 'years'],
 ['3', 'years'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['10', 'years'],
 ['10', 'months'],
 ['11', 'months'],
 ['1', 'month'],
 ['9', 'years'],
 ['10', 'months'],
 ['11', 'years'],
 ['3', 'months'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['11', 'years'],
 ['1', 'month'],
 ['1', 'year'],
 ['1', 'month'],
 ['3', 'months'],
 ['3', 'months'],
 ['1', 'month'],
 ['2', 'years'],
 ['2', 'months'],
 ['10', 'years'],
 ['14', 'years'],
 ['3', 'months'],
 ['1', 'year'],
 ['3', 'months'],
 ['7', 'years'],
 ['2', 'years'],
 ['1', 'week'],
 ['2', 'years'],
 ['2', 'months'],
 ['3', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['4', 'weeks'],
 ['1', 'month'],
 ['3', 'months'],
 ['4', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'month'],
 ['2', 'years'],
 ['1', 'year'],
 ['7', 'years'],
 ['3', 'months'],
 ['1', 'month'],
 ['3', 'months'],
 ['2', 'years'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['6', 'months'],
 ['3', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['4', 'months'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['1', 'month'],
 ['2', 'years'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'months'],
 ['6', 'years'],
 ['9', 'months'],
 ['1', 'year'],
 ['3', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['7', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['4', 'weeks'],
 ['3', 'months'],
 ['1', 'month'],
 ['3', 'months'],
 ['2', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['13', 'years'],
 ['2', 'months'],
 ['10', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['7', 'years'],
 ['2', 'months'],
 ['5', 'months'],
 ['5', 'years'],
 ['2', 'months'],
 ['4', 'years'],
 ['3', 'months'],
 ['2', 'months'],
 ['1', 'month'],
 ['1', 'month'],
 ['2', 'years'],
 ['7', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['8', 'years'],
 ['2', 'months'],
 ['9', 'months'],
 ['10', 'years'],
 ['3', 'months'],
 ['5', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['5', 'years'],
 ['5', 'years'],
 ['3', 'months'],
 ['2', 'months'],
 ['1', 'month'],
 ['2', 'years'],
 ['1', 'month'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['1', 'month'],
 ['3', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['3', 'months'],
 ['3', 'months'],
 ['13', 'years'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['1', 'year'],
 ['3', 'months'],
 ['1', 'year'],
 ['3', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['8', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['1', 'month'],
 ['4', 'weeks'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['5', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['5', 'years'],
 ['2', 'months'],
 ['1', 'year'],
 ['2', 'months'],
 ['1', 'month'],
 ['2', 'years'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'months'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'months'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['10', 'months'],
 ['11', 'months'],
 ['1', 'month'],
 ['4', 'weeks'],
 ['3', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['1', 'month'],
 ['1', 'month'],
 ['2', 'years'],
 ['11', 'years'],
 ['2', 'years'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['2', 'years'],
 ['5', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['6', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['4', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['8', 'months'],
 ['7', 'months'],
 ['1', 'week'],
 ['1', 'year'],
 ['3', 'months'],
 ['2', 'years'],
 ['5', 'years'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['3', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['4', 'weeks'],
 ['2', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'months'],
 ['1', 'year'],
 ['8', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'year'],
 ['5', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['3', 'years'],
 ['4', 'years'],
 ['8', 'years'],
 ['1', 'year'],
 ['11', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'years'],
 ['1', 'month'],
 ['4', 'weeks'],
 ['3', 'weeks'],
 ['3', 'weeks'],
 ['3', 'weeks'],
 ['1', 'month'],
 ['5', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['2', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'years'],
 ['12', 'years'],
 ['5', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['7', 'years'],
 ['2', 'years'],
 ['11', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['12', 'years'],
 ['2', 'years'],
 ['6', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'year'],
 ['2', 'months'],
 ['3', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['4', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['2', 'years'],
 ['6', 'years'],
 ['3', 'weeks'],
 ['1', 'year'],
 ['1', 'month'],
 ['1', 'year'],
 ['1', 'year'],
 ['2', 'years'],
 ['1', 'month'],
 ['2', 'months'],
 ['10', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['1', 'month'],
 ['2', 'years'],
 ['1', 'month'],
 ['2', 'weeks'],
 ['2', 'weeks'],
 ['2', 'weeks'],
 ['2', 'weeks'],
 ['2', 'weeks'],
 ['2', 'weeks'],
 ['2', 'weeks'],
 ['3', 'weeks'],
 ['3', 'weeks'],
 ['2', 'weeks'],
 ['2', 'weeks'],
 ['2', 'weeks'],
 ['2', 'weeks'],
 ['3', 'months'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ...]

In [196]:
from typing import List

age_split = asp["AgeSplit"]

def age_into_days(age_split):
    """Function that converts the current age string list into a day based age """
    if [second[1] for second in age_split] == "%year%":
        age_days = [second[0] for second in age_split] * 365.24
    elif [second[1] for second in age_split] == "%month%":
        age_days = [second[0] for second in age_split] * 30.44
    elif [second[1] for second in age_split] == "%week%":
        age_days = [second[0] for second in age_split] * 7
    elif [second[1] for second in age_split] == "%day%":
        age_days = [second[0] for second in age_split] * 1
    elif [second for second in age_split] == "nan":
        age_days = "nan"
        
    return age_days


age_into_days

In [ ]:
#def age_into_days(age_split:List[str]) -> List[float]:

Lastly, use a groupby to show the average age of the different kinds of animal types. Hint: use .unique() on a column to see what unique values are in the column.

In [ ]:
#your code here